.matches-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.matches-list {
    border-radius: 24px; /* Rounds the corners of the container */
    border: 4px solid #000000;
    width: 80%; /* Adjust the width as needed */
    max-width: 800px; /* Optional: sets a maximum width */
    margin: 0 auto; /* Center-aligns the container */
    font-family: Arial, sans-serif; /* Optional: for a clean font */
    background-color: #f9f9f9; /* Light background for contrast */
    overflow: hidden; /* Ensures that the rounded corners are respected */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}

.match {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #747474;
    background-color: #d9edd4; /* Light green background for match details */
}

.match:last-child {
    border-bottom: none; /* Remove the bottom border from the last match */
}

.players {
    background-color: #f79328;
    width: 100%;
    height: 100%;
    padding: 12px;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    margin-bottom: 10px;
}
.item{
    text-align: center;
    font-weight: bold;
}

.item-1{
    text-align: right;
}

.item-3{
    text-align: left;
}


.score {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    border-bottom: 1px solid #747474;
}

.score span {
    margin: 0 10px;
}

.winner {
    font-weight: bold;
    padding: 10px;
}

.match:hover {
    background-color: #76c176; /* Hover effect */
}
