body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Space Grotesk', 'Space Mono', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    background-color: rgb(236, 236, 236);
}

button{
    font-family: 'Space Grotesk', 'Space Mono', Arial, Helvetica, sans-serif;
    border: none;
    font-size:20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 66px;
    width: 100%;
}



a{
    text-decoration: none;
    font-size: 20px;
    text-align: justify;
    height: 66px;
    min-width: 188px;
    justify-content: center;
    align-items: center;
    color: black;
}



.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    max-width: 880px;
    min-height: 80px;
    border: 2px solid black;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 40px;
}

.nav-element{
    display: flex;
    height: 66px;
    width: 25%;
    min-width: 200px;
    flex:1;
    border-left: 1px solid rgb(73, 73, 73);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.first{
    border: none;
}

.bckgr:hover{
    background-color: bisque;
}

table{
    width: 100%;
    max-width: 880px;
    min-height: 80px;
}

tr{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(73, 73, 73);
    padding-top: 12px;
    padding-bottom: 12px;
}

th{
    width: 25%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.player-tab{
    display: flex;
    align-items: center;
    justify-content: center;
}

td{
    width: 25%;
    text-align: center;
}

.green{
    background-color: rgb(216, 233, 222);
}

.green:hover{
    cursor: pointer;
}

.red{
    background-color: rgb(239, 156, 169);
}
.red:hover{
    background-color: rgb(255, 79, 79);
    cursor: pointer;
}

.pelne{
    width: 100%;
    height: 100%;
    min-height: 80px;
}

.odstep{
    margin-top: 8px;
    margin-bottom: 8px;
}

input{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    border: 1px solid rgb(73, 73, 73);
    font-size: 20px;
    font-family: 'Space Grotesk', 'Space Mono', Arial, Helvetica, sans-serif;
}

.matches{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.match{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar.matches a.match {
    display: block;          /* Make the <a> element a block-level element */
    width: 100%; 
    min-height: 160px;
    padding-bottom: 8px;
    margin-top: 4px;
    border: 1px solid rgb(73, 73, 73);
    color: black;

}

.navbar.matches .score, 
.navbar.matches .winner {
    display: flex;           /* Use flexbox to arrange children horizontally */
    justify-content:space-around; /* Distribute space between items */
    padding: 10px;           /* Add some padding */
    background-color: rgb(245, 245, 245);
}


.navbar.matches .score span {
    margin: 0 0px;           /* Add some spacing between the score numbers */
}


.players{
    background-color: rgb(214, 248, 237);
    display: flex;           /* Use flexbox to arrange children horizontally */
    justify-content:space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.semis{
    display: flex;
    justify-content: center;
    gap: 25%;
    width: 100%;
    max-width: 880px;
    min-height: 300px;
}

.zwyciezca{
    color: rgb(205, 176, 8);
    display: inline;
}