{% extends "table/base.html" %}

{% block content %}
  <div class='matches-list'>
    <div class='players'>
        <div>
            <div>{{ match.player1 }}</div>
            <div>VS</div>
            <div >{{ match.player2 }}</div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
          <tr>
            <th>Set Number</th>
            <th>{{ match.player1 }}</th>
            <th>{{ match.player2 }}</th>
          </tr>
          {% for form in formset %}
            <tr>
              <td>Set {{ form.instance.set_num }}</td>
              <td>{{ form.score1 }}</td>
              <td>{{ form.score2 }}</td>
            </tr>
          {{ form.id }}
          {% endfor %}
        </table>
        <button type="submit">Zatwierdź wynik</button>
      </form>
  </div>
{% endblock content %}