{% extends "table/base.html" %}

{% block content %}
<a href="{% url "table:create_finals" %}" class='navbar red'>
  <div>Stwórz drabinkę finałową</div>
</a>
<div class='navbar matches'>
  <div class='final'>
    {% if great_final.id %}
    <a href="{% url "table:change_finals_score" great_final.id%}">
    {% else %}
    <a href='#'>
    {% endif %}
      <div class='final-match-display'>
        <h1 class='zwyciezca'>Finał</h1>
        <p>{{ great_final.player1 }} vs {{ great_final.player2 }}</p>
        <h3>Zwycięzca: {{ great_final.winner }}</h3>
      </div>
    </a>
  </div>
  <div class='final trzecie'>
    {% if miejsce_3.id %}
    <a href="{% url "table:change_finals_score" miejsce_3.id%}">
    {% else %}
    <a href='#'>
    {% endif %}
      <div class='final-match-display'>
        <h1 class='zwyciezca'>Trzecie miejsce</h1>
        <p>{{ miejsce_3.player1 }} vs {{ miejsce_3.player2 }}</p>
        <h3>Zwycięzca: {{ miejsce_3.winner }}</h3>
      </div>
    </a>
  </div>
</div>
{% endblock content %}