{% extends "table/base.html" %}

{% block content %}
  <div class="navbar">
    <div class='nav-element first bckgr'>
      <form action="{% url "table:start_tournament" %}" method="POST" class='pelne'>
        {% csrf_token %}
        <button type="submit" class='green'>Rozpocznij turniej!</button>
      </form>
    </div>
    <div class='nav-element bckgr'>
      <a href="{% url "table:add_player" %}" class='pelne'>Dodaj gracza</a>
    </div>
  </div>

  <div class="navbar">
    <table class="players-table">
      <thead>
        <tr>
          <th>Gracz</th>
          <th>Punkty</th>
          <th>Gry</th>
          <th>Zakwalifikowany</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr class='player-tab'>
          <td>{{ player.name }}</td>
          <td>{{ player.points }}</td>
          <td>{{ player.games }}</td>
          {% if player.qualified  == False %}
          <td>Nie</td>
          {% else %}
          <td>Tak</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="navbar red">
    <form action="{% url "table:reset_tournament" %}" method="POST" class='pelne'>
      {% csrf_token %}
        <button type='submit' class='red pelne'>Zresetuj turniej (ostrożnie)</button>
    </form>
  </div>
{% endblock content %}

