{% extends "table/base.html" %}

{% block content %}
  <div class="navbar">
    <div class='nav-element first bckgr green'>
      <form action="{% url "table:start_tournament" %}" method="POST">
        {% csrf_token %}
        <button type="submit" class='green bckgr'>Rozpocznij turniej!</button>
      </form>
    </div>
    <a href="{% url "table:add_player" %}" class='nav-element bckgr nav-button'>
      <div class='nav-element bckgr'><p>Dodaj gracza</p></div>
    </a>
  </div>
  <div class="navbar">
    <table class="players-table">
      <thead>
        <tr>
          <th>Gracz</th>
          <th>Punkty</th>
          <th>Gry</th>
          <th>Bilans</th>
          <th>Awans</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr class='player-tab'>
          <td>{{ player.name }}</td>
          <td>{{ player.points }}</td>
          <td>{{ player.games }}</td>
          <td>{{ player.point_balance }}</td>
          {% if player.qualified  == False %}
          <td>Nie</td>
          {% else %}
          <td>Tak</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="navbar red">
    <form action="{% url "table:reset_tournament" %}" method="POST" class='pelne'>
      {% csrf_token %}
        <button type='submit' class='red pelne'>Zresetuj turniej (ostrożnie)</button>
    </form>
  </div>
{% endblock content %}

