{% extends "table/base.html" %}

{% block head %}

{% endblock head %}

{% block content %}
<div class="navbar matches">
  {% for match in matches %}
    <a href="{% url "table:match_score" match.id %}" class='match'>
        <div class='match-content'>
            <div class="players">
                <div class="item item-1"><b>{{ match.player1 }}</b></div>
                <div class="item item-2"><b>VS</b></div>
                <div class="item item-3"><b>{{ match.player2 }}</b></div>
            </div>
            <div class='score'>
                <span>{{ match.score1 }}</span>
                <span> - </span>
                <span>{{ match.score2 }}</span>
            </div>
            <div class='winner'>
                {% if match.winner %}
                <span>Zwycięzca: {{ match.winner }}</span>
                {% else %}
                <span>Zwycięzca: </span>
                {% endif %}
            </div>
        </div>
    </a> 
  {% endfor %}
</div>
{% endblock content %}


